@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "workSans" ;
    src: url(../src/assets/fonts/static/WorkSans-Regular.ttf);
}
@font-face {
    font-family: "workSansBold" ;
    src: url(../src/assets/fonts/static/WorkSans-Bold.ttf);
}